<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Противодействие ИО</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="hero">
    <h1>Ақпараттық операцияларға қарсы іс-қимыл жүйесі</h1>
    <p>Жүйеге кіру үшін рөліңізді таңдаңыз</p>
    <div class="roles">
      <a href="admin.html" class="role-card">
        <i class="fas fa-user-shield fa-2x"></i>
        <h3>Администратор</h3>
        <p>Жүйе параметрлерін басқару</p>
      </a>
      <a href="analyst.html" class="role-card">
        <i class="fas fa-user-secret fa-2x"></i>
        <h3>Аналитик</h3>
        <p>Хабарламаларды қарау, талдау және фейктерді белгілеу </p>
      </a>
      <a href="thesaurus.html" class="role-card">
        <i class="fas fa-book fa-2x"></i>
        <h3>Лингвист / Тезаурус</h3>
        <p>Әскери терминдерді қосу және редакциялау</p>
      </a>
    </div>
  </div>
</body>
</html>