flask
flask-cors
fastapi
uvicorn
pydantic
streamlit
neo4j
python-dotenv
spacy
scikit-learn
pandas
numpy
transformers
sentence-transformers
torch
ollama
rapidfuzz
langdetect
plotly
matplotlib
wordcloud
pycountry
docutils
protobuf